h1{
    color: black;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    left: 550px;
    top: 100px;
}
body {
    background-color: rgb(211, 140, 140) !important;
    font-family: Arial, Helvetica, sans-serif;
}
.chat-input{
flex-direction: row;
align-items: left;
}
.chat-feed{
flex-direction: column;  
align-items: left;
}
input{
display: inline;
padding: 5px;
margin: 10px 10px 0 0;
height: 20px;
}
.chat-input-name {
width: 110px;
}
.chat-input-msg{
width: 500px; 
}
.chat-input-glass {
width: 110px;
}
.chat-input-write{
width: 500px; 
}
.chat-input-identity{
width: 110px;
}
.chat-input-state{
width: 500px;  
} 
.chat-input-names{
width: 110px;
}
.chat-input-messages{
width: 500px;  
}
button{
height: 28px;
align-items: left;
}
.chat-header{
margin-top: 10px;
font-size: 24px;
text-align: left;
}
.chat-box{
border: 2px solid black;
height: 175px;
width: 650px;
padding-left: 5px;
overflow: auto;
}
.chat-heading{
margin-top: 10px;
font-size: 24px;
text-align: left;
}
.comment-boxtwo{
border: 2px solid black;
height: 175px;
width: 650px;
padding-left: 5px;
overflow: auto;
}
.comment-title{
margin-top: 10px;
font-size: 24px;
text-align: left;
}
.container{
position: relative;
top: 200px;
}
p{
overflow-wrap: break-word;
}
@media (max-width: 800px) {
.sub-container {
    width: 75%;
}
}